<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="content">
    <main>
        <!-- Contenido -->
        <div class="page-header text-center">
            <h2>Nueva Jugador</h2>
        </div>
        <div class="container-fluid">
            <form method="POST" th:action="@{/jugador/guardar}">
                <div class="mb-3">
                    <label for="nombre">Nombre</label>
                    <input name="nombre" type="text" class="form-control" id="nombre">
                </div>
                <div class="mb-3">
                    <label for="edad">Edad</label>
                    <input name="edad" type="text" class="form-control" id="edad">
                </div>
                <div class="mb-3">
                    <label for="posicion">Posicion</label>
                    <input name="posicion" type="text" class="form-control" id="posicion">
                </div>
                <div class="mb-3">
                    <label for="club">Club</label>
                    <input name="club" type="text" class="form-control" id="club">
                </div>

                <a th:href="@{/jugador}" class="btn btn-danger">Cancelar</a>
                <button type="submit" class="btn btn-primary">Registrar</button>
            </form>
        </div>
    </main>
</div>
</body>
</html>